@page {
  size: auto portrait;
  min-height: 100%;
  margin: 0;
  margin-top: 1cm;
  margin-left: -.25cm;
}

@page :first {
  margin-top: -1cm;
}

@media print {
  .noPrint {
    display: none;
  }
  .printBW {
    color: #222 !important;
    filter: grayscale(100%);
  }
}

@media screen {
  .textOnDeco {
    color: #fff;
  }
}

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  text-align: center;
  page-break-after: avoid;
}

.title {
  page-break-inside: avoid;
  page-break-after: avoid;
}

h2 {
  margin-bottom: 10px;
}

.ContentLayout {
  min-width: 720px;
  max-width: 100vw;
}

.ContentLayout * {
  box-sizing: border-box;
}

.ContentLayout a:focus,
.ContentLayout a:active,
.ContentLayout a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.ContentLayout a:hover {
  opacity: .5;
}

.SectionContainer {
  display: flex;
}